body {
    margin: 0;
    font-family: Arial;
    background: #f4f6fb;
}

.navbar {
    background: #4f46e5;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.logout {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 70%;
    margin: 30px auto;
}

.add-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.add-box input {
    width: 25%;
    padding: 10px;
    margin-right: 10px;
}

.add-box button {
    padding: 10px 20px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 5px;
}

.todo-list {
    margin-top: 20px;
}

.todo-card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-card.done {
    opacity: 0.5;
    text-decoration: line-through;
}

.actions a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
}

.delete {
    color: red;
}
